

.cardimg {
    width: 12rem;
    height: 12rem;
}

.card {
    display: flex;
    margin-right:2rem;
}

.cardTitle {
    font-size: 28px;
}

.toollink {
    text-align: center;
    font-size:24px;
}

